<extend name="layouts:master" />
<block name="title">
<title>包头市移动警务执法平台</title>
</block>
<block name="link">
<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon" /> 
</block>
<block name="src">
<script>
function createFrame(url) {
   	var s = '<iframe scrolling="auto" frameborder="0"  style="width:100%;height:99.5%;" src="' + url + '" ></iframe>';
   	return s;
}

function showTab(url,title,icon){
	if ($('#tabs').tabs('exists',title)){
		$('#tabs').tabs('select',title);
	} else {
        var tabNum = $('#tabs').tabs('tabs').length;
        //console.log($('#SystemTabs').tabs('tabs'));
        if(tabNum > 9){
            $.messager.alert('信息提示','目前的打开窗口太多了！关闭一些在打开吧。','info');
            return false;
        }
		$('#tabs').tabs('add',{
			title:title,
			content:createFrame(url),
			closable:true,
            border:false,
            iconCls:icon,
			onLoadError:function(data){
				var info=eval('('+data.responseText+')');
				$.messager.confirm('错误提示',info.message,function(r){
					$('#tabs').tabs('close',title);
				});
				return false;
			}
		});
	}
}
function closeTab () {
    var alltabs = $('#tabs').tabs('tabs');
    var allTitle = new Array();
    $.each(alltabs,function(n,m){
        allTitle.push($(m).panel('options').title);
    });
    $.each(allTitle,function(i,j){
         if(j != '首页'){
            $('#tabs').tabs('close', j);
            return true;
        }
    });
}
function menuHandler(item) {
	if(item.url!=''){
		showTab(item.url,item.text,item.iconCls);
	}
}
function change_password(){
    var newpassword = $('#newpassword').textbox('getValue');
    var surepassword = $('#surepassword').textbox('getValue');
    if((newpassword == '') || (surepassword == '') || (newpassword != surepassword)){
        $.messager.alert('信息提示','密码不能为空或两次输入的密码不一致','error');
        return false;
    }
    $.ajax({
        url:"{:U('Index/change_password')}",
        dataType:'json',
        data:{
            newpassword:newpassword
        },
        success:function(data){
            if(data.status){
                $.messager.alert('结果提示','修改密码成功，下次登陆时生效','info');
            }else{
                $.messager.alert('结果提示',data.message,'info');
            }
            $('#dialog').dialog('close');
        }
    });
}
$(function(){
	$('#tabs').tabs({
        tools: [
            {
            iconCls: 'icon-reload',
            handler: function () {
                    var tab = $('#tabs').tabs('getSelected');
                    var iframe = $(tab.panel('options').content);
                    var src = iframe.attr('src');
                    $('#tabs').tabs('update', {
                        tab: tab,
                        options: {
                            content: createFrame(src)
                        }
                    });
                    return false;
                }
            },
            {
            iconCls: 'icon-cancel',
            handler: function () {
                $.messager.confirm('操作提示','亲，确认要关闭所有窗口吗？',function(n){
                    if(n){
                        closeTab();
                    }
                });
            }
        }],
        onBeforeClose:function(title){
            if(title=='首页'){
                $.messager.alert('操作提示','首页无法关闭哦!','info');
                return false;
            }
        }
    });
    showTab("{:U('Index/home')}",'首页','icon-house');
    $('#changePassword').click(function(){
        $('#dialog').dialog('open');
    });
    var date = new Date();
    var year = date.getFullYear();
    $("#year").html(year);
});
</script>
</block>
<block name="main">
<div class="easyui-layout" fit="true">
	<div data-options="region:'north',border:false,split:false" style="height:100px;">
		<div style="background: url(__PUBLIC__/images/logo.png) no-repeat center; height: 100px; width: 100%">
            <div id="top_info">
                <span style="color: #0E2D5F;position: absolute;top: 15px;right: 170px;font-size: 15px">用户：{:session('user')}</span>
                <span style="color: #0E2D5F;position: absolute;top: 15px;right: 280px;font-size: 15px">角色：{:session('role')}</span>
                <a href="javascript:void(0)" id="changePassword" class="easyui-linkbutton" data-options="iconCls:'icon-pencil'" style="background-color:#00A8E9; position: absolute;top: 10px;right: 80px;">修改密码</a>
                <a href="{:U('Index/loginout')}" class="easyui-linkbutton" data-options="iconCls:'icon-drive_go'" style="background-color:#00A8E9; position: absolute;top: 10px;right: 10px;">退出</a>
            </div>
			<div style="position: absolute;top: 80px;left: 20px;">
				<foreach name="menus" item="menu">
					<a href="javascript:void(0)" id="menuList" class="easyui-menubutton" style="background-color: #E0ECFF;"
        				data-options="menu:'#m_{$menu.id}',iconCls:'{$menu.iconCls}'">{$menu.text}</a>
        			<if condition="$menu['children']">
        				<div id="m_{$menu.id}" class="easyui-menu menu_list" data-options="onClick:menuHandler">
        					<foreach name="menu.children" item="chmenu">
        						<if condition="$chmenu['children']">
        							<div>
        								<span data-options="iconCls:'{$chmenu.iconCls}'">{$chmenu.text}</span>
        								<div>
        									<foreach name="chmenu.children" item="lemnu">
												<div data-options="iconCls:'{$lemnu.iconCls}',url:'{$lemnu.attributes.url}'">{$lemnu.text}</div>
        									</foreach>
        								</div>
        							</div>
        						<else />
        							<div data-options="iconCls:'{$chmenu.iconCls}',url:'{$chmenu.attributes.url}'">{$chmenu.text}</div>
        						</if>
        					</foreach>
        				</div>
        			</if>
				</foreach>
			</div>
		</div>
    </div>
    <div data-options="region:'center',border:false" style="background:#eee;">
        <div id="tabs" class="easyui-tabs" fit="true"></div>
    </div>
    <div data-options="region:'south',border:false,split:true" style="background: #e0ecff; height: 24px; text-align: center;">
        <div class="footer" id="footer">Copyright ◎2008-<span id="year">2019</span> 南京盾华交通科技有限公司版权所有 IE10+</div>
    </div>
</div>
<!--修改密码-->
<div id="dialog" class="easyui-dialog" title="修改密码" style="width:300px;" buttons="#buttons"
    data-options="iconCls:'icon-pencil',modal:true,closed:true">
    <form id="loginBox" method="post">
        <div style="margin:10px">
            新密码: <input class="easyui-validatebox easyui-textbox" type="password" id="newpassword" autofocus="autofocus" style="width:100%;height:40px;padding:12px;" data-options="iconCls:'icon-lock',iconWidth:38,required:true" name="">
        </div>
        <div style="margin:10px">
            确认密码：<input class="easyui-validatebox easyui-textbox" type="password" id="surepassword" style="width:100%;height:40px;padding:12px;" data-options="iconCls:'icon-lock',iconWidth:38,required:true" name="userpassword">
        </div>
    </form>
</div>
<div id="buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="change_password()" style="width:90px">确认</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:
    $('#dialog').dialog('close')" style="width:90px">取消</a>
</block>