<extend name="layouts:master" />
<block name="link">
<style type="text/css">
.photo{
    text-align:center;
    display:inline-block;
    width:150px;
    height:250px;
    margin: 10px 10px 10px;
}
.imgInfo{
    width: 150px;
    height: 50px;
}
.no-photo{
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    color: red;
}
</style>
</block>
<block name="src">
<script>
var thisPageThings = {};
//操作所需的url
thisPageThings.datagridUrl = "{:$url['datagridUrl']}";
thisPageThings.addUrl = "{:$url['addUrl']}";
thisPageThings.editUrl = "{:$url['editUrl']}";
thisPageThings.removeUrl = "{:$url['removeUrl']}";
thisPageThings.uplaodImgUrl = "{:$url['uplaodImgUrl']}";
thisPageThings.get_empImagesUrl = "{:$url['get_empImagesUrl']}";
thisPageThings.removeImageUrl = "{:$url['removeImageUrl']}";
thisPageThings.areaid;
thisPageThings.empid;
//基本的搜索
thisPageThings.show = function(){
    $('#searchForm').form('reset');
    $('#showPhoto').html('');
    $.ajax({
        url:thisPageThings.datagridUrl,
        dataType:'json',
        data:{
            areaid:thisPageThings.areaid
        },
        success:function(data){
            if(data.total > 0){
                $.each(data.rows,function(n,m){
                    thisPageThings.open_img(m);
                });
            }else if(data.total == 0){
                var string = '<div class="no-photo">该区域没有警员</div>';
                $('#showPhoto').html(string);
            }
        }
    })
}
//接收数据之后的操作
thisPageThings.callback = function(data){
   // data = eval('('+data+')');
    $.messager.alert('操作提示',data.message,'info');
    $('#datagrid').datagrid('load',{
        areaid:thisPageThings.areaid,
        rand:Math.random()
    });
}
//提交增加
thisPageThings.add = function(){
	$('#addForm').form('submit',{
        url:thisPageThings.addUrl,
        success:function(data){
            data = eval('('+data+')');
            $('#addDialog').dialog('close');
            $.messager.alert('操作提示',data.message,'info');
            $('#datagrid').datagrid('load',{
                areaid:thisPageThings.areaid,
                rand:Math.random()
            });
        }
    });
}
//搜索时间 ----！  需要额外写
thisPageThings.search = function(){
    var name = $('#name').val();
    name = $.trim(name);
    var phone = $('#phone').val();
    phone = $.trim(phone);
    $('#showPhoto').html('');
    $.ajax({
        url:thisPageThings.datagridUrl,
        dataType:'json',
        data:{
            areaid:thisPageThings.areaid,
            name:name,
            phone:phone
        },
        success:function(data){
            if(data.total > 0){
                $.each(data.rows,function(n,m){
                    thisPageThings.open_img(m);
                });
            }else if(data.total == 0){
                var string = '<div class="no-photo">该区域没有符合条件的警员</div>';
                $('#showPhoto').html(string);
            }
        }
    })
}
thisPageThings.open_img = function(empInfo){
    $.ajax({
        url:thisPageThings.get_empImagesUrl,
        data:{
            empid:empInfo.empid
        },
        success:function(data){
            //更改img的内容
            var total = data.length;
            var string = '';
            empInfo.name = empInfo.name == '' ? '姓名' : empInfo.name;
            empInfo.remark = empInfo.remark == '' ? '备注' : empInfo.remark;
            empInfo.code = empInfo.code == '' ? '警员编号' : empInfo.code;
            if(total > 0){
                var string = '';
                $.each(data,function(n,m){

                    string += '<div class="photo">'+
                    '<img src="'+m.photo+'" width="150px" height="200px">'+
                    '<div class="imgInfo">'+
                    '<div>'+empInfo.name+'</div>'+
                    '<div>'+empInfo.remark+'</div>'+
                    '<div>'+empInfo.code+'</div>'+
                    '</div>'+
                    '</div>'
                });
            }else{
                string += '<div class="photo">'+
                            '<img src="__PUBLIC__/images/photo.jpg" width="150px" height="200px">'+
                            '<div class="imgInfo">'+
                            '<div>'+empInfo.name+'</div>'+
                            '<div>'+empInfo.remark+'</div>'+
                            '<div>'+empInfo.code+'</div>'+
                            '</div>'+
                          '</div>';
            }
            $('#showPhoto').append(string);

        }
    });

}
//初始化表格
$(function(){
    loadData();
    $('#area_list').tree({
        'onClick':function(node){
            $('#mu_ser').html(node.text);
            thisPageThings.areaid = node.id;
            thisPageThings.show();
        }
    });
});
</script>
</block>
<block name="main">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west',title:'所有区域',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
            <include file="Areareg/area_list"/>
        </div>
       <div data-options="region:'center',border:false,iconCls:'icon-search'" style="width:60%;background:#eee;" title="搜索区">
           <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
             <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon icon-filter" plain="true" onclick="thisPageThings.show()">全部</a>&nbsp;&nbsp;&nbsp;
                姓名: <input id="name"  class="easyui-textbox" data-options="height:22"  style="width:168px"/>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="thisPageThings.search()">搜索</a>
             <a href="javascript:void(0)" class="easyui-linkbutton"
                 data-options="iconCls:'icon icon-drive'" style="float: right;color:#0E5AB9;">
                  当前区域：<span id="mu_ser">无</span></a>
           </form>
           <div>
                <div class="easyui-panel" title="列表区" style="background-color:#eee;" width="100%">
                    <div id="showPhoto" width="100%">
                        <div class="no-photo">点击区域显示警员</div>
                    </div>
                </div>
           </div>

       </div>
       <div data-options="region:'east',title:'说明',iconCls:'icon-film'" style="width:20%;background:#eee;">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                数据展示：<span style="color:#0E5AB9;">默认进入员工管理是没有数据，</span>只有点击树状图才会加载数据（当前区域及所有子区域）。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                数据搜索：<span style="color:#0E5AB9;">所有员工搜索都是基于当前区域的。</span></p>
       </div>
    </div>
</block>