<extend name="layouts:master" />
<block name="link">
    <style>
        body{
            background-color: #eee;
        }
    </style>
</block>
<block name="src">
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Trees.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/PlayVlc.js"></script>
</block>
<block name="main">
    <div id="con" style="margin: 0 auto;width: 640px;height: 360px"></div>
    <div class="easyui-panel" data-options="title:'视频详情'" style="">
        <a href="">下载视频</a>
        <a href="">下载插件</a>
        <div>视频文件</div>
        <div>视频别名</div>
        <div>视频长度</div>
        <div>拍摄时间</div>
        <div>上传时间</div>
        <div>视频类型</div>
        <div>标注类型</div>
        <div>拍摄民警</div>
        <div>所属部门</div>
    </div>
</block>