<html>    
<title>VLC 测试</title>    
<body>    
<div style="width: 100%;margin: 0 auto;text-align: center;">
    <div style="display: inline-block;">
        <div>sda</div>
        <div>asdas</div>
        <img src="asdas">
        <div>sdas</div>
    </div>
    <div style="display: inline-block;">
        <div>sda</div>
        <div>asdas</div>
        <img src="asdas">
        <div>sdas</div>
    </div>
    <div style="display: inline-block;">
        <div>sda</div>
        <div>asdas</div>
        <img src="asdas">
        <div>sdas</div>
    </div>
    <div style="display: inline-block;">
        <div>sda</div>
        <div>asdas</div>
        <img src="asdas">
        <div>sdas</div>
    </div>
    <div style="display: inline-block;">
        <div>sda</div>
        <div>asdas</div>
        <img src="asdas">
        <div>sdas</div>
    </div>
    <div style="display: inline-block;">
        <div>sda</div>
        <div>asdas</div>
        <img src="asdas">
        <div>sdas</div>
    </div>
    <div style="display: inline-block;">
        <div>sda</div>
        <div>asdas</div>
        <img src="asdas">
        <div>sdas</div>
    </div>
</div>   
</body>    
</html>  